<div class="row">
	<div class="span8">
		<h3>Co to je business plán</h3>
		<p>Business plán(jinak také podnikatelský plán nebo podnikatelský záměr) je dokument, který s většími nebo menšími detaily popisuje Vaše podnikání. Business plán nemá nijak přesně specifikovaný obsah nebo formu. Čtenáři by ale vždy měl osvětlit zejména základní myšlenku popisovaného podnikání.</p>
		<p>Podnikatelský záměř se většinou sepisuje za účelem prezentace podnikání potenciálnímu investorovi nebo partnerovi projektu, nicméně alespoň stručnou formu plánu by si měl sepsat každý, kdo chce podnikat, byť sám a bez investora. Sepsání plánu pomůže utřídit myšlenky a možná i přijít na nové aspekty zamýšleného podnikání. Často se může stát, že při psaní narazíte na problém, který Vás předtím nenapadl, a který vážně celý podnikatelský koncept komplikuje.</p>
		<h3>Druhy business plánů</h3>
		<p>Business plány se od sebe mohou často výrazně lišit. Co se týče formy, tak obecně platí, že pokud píšete plán pouze pro sebe, není forma tolik důležitá. Nicméně pokud píšete plán pro prezentaci svého podnikání například investorovi, měli byste dbát nato, aby byl plán přehledný, hezky upravený, srozumitelný, a také bez chyb. Co se týče obsahu, tak záleží na zvážení, co vše chcete do plánu zařadit a jak rozsáhlý ho potřebujete udělat. Podnikatelský záměr může mít jednu stránku ale klidně také sto. Obecně se dají business plány rozdělit do tří kategorií:</p>
		<table class="table table-bordered">
			<caption>Rozdělení business plánů</caption>
			<thead>
				<tr>
					<th></th>
					<th>Rozsah</th>
					<th>Účel dokumentu</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Elevator pitch</th>
					<td>1-2 stránky</td>
					<td>Rychlá, několika minutová prezentace záměru</td>
				</tr>
				<tr>
					<th>Stručný business plán</th>
					<td>cca 5-10 stran</td>
					<td>Seznámení s hlavními aspekty podnikání. Představení produktu, business modelu. Seznámení s trhem a zákazníkem</td>
				</tr>
				<tr>
					<th>Detailní business plán</th>
					<td>cca 10 stran a víc</td>
					<td>Detailní seznámení s podnikáním včetně detailní finanční analýzy a plánu</td>
				</tr>
			</tbody>
		</table>
		<h5>Elevator pitch</h5>
		<p>Elevator pitch nejstručnější varianta plánu, kterou byste krom na papíře měli nosit i v hlavě, tak abyste ji kdykoliv mohli odprezentovat během pár minut například při cestě výtahem - odtud "Elevator Pitch". Důležitý je zde zejména produkt a business model. Elevator pitch má za úkol potenciálního investora navnadit na další spolupráci.</p>
		<h5>Stručný Business plán</h5>
		<p>Tento druh plánu slouží k bližšímu seznámení se všemi stránkami Vašeho podnikání. Někoho jste již zaujali svým Elevator pitchem a nyní mu poskytnete stručný Bussiness plán k detailnějšímu osvětlení Vašeho projektu. Čtenáře stručného busines plánu zajimá krom základních věcí i Váš tým, trh, konkurence na daném trhu atd.</p>
		<h5>Detailní business plán</h5>
		<p>Slouží investorovi jako nejdetailnější náhled do Vašeho podnikání. V detailním business plánu nesmí chybět finanční část projektu, detailní znalost trhu, Vašeho zákazníka a mnoho dalších. Detailní business plán bývá často hlavním firemním dokumentem, podle kterého se společnost řídí a snaží dosahovat předem stanovených cílů.</p>
		<h3>Další materiály</h3>
		<dl>
			<dt>Detailní popis business plánů a jejich druhů</dt>
			<dd><a href="http://www.businessinfo.cz/cs/clanky/jak-napsat-podnikatelsky-plan-obsah-3762.html">http://www.businessinfo.cz/cs/clanky/jak-napsat-podnikatelsky-plan-obsah-3762.html</a></dd>
			<dt>Youtube video Vlastimila Vávrů o business plánu</dt>
			<dd><a href="https://www.youtube.com/watch?v=Rzc2On8CDHg">https://www.youtube.com/watch?v=Rzc2On8CDHg</a></dd>
		</dl>
		

	</div>
	<div class="span4">
		<div class="well">
			<h4>Video</h4>
			<iframe width="260" height="146" src="//www.youtube.com/embed/Rzc2On8CDHg" frameborder="0" allowfullscreen></iframe>
		</div>

		<div class="well">
			<h4>Výhody Byzplanu</h4>
			<ul>
				<li>Jednoduchý PDF export</li>
				<li>Je úplně zdarma</li>
				<li>Práce s ním je jednoduchá</li>
				<li>Váš plán můžete sdílet</li>
				<li>Nemusíte se nikde registrovat</li>
				<%= link_to "Vytvořit business plán", new_plan_path, class: "btn btn-danger btn-margin" %>
			</ul>
		</div>
	</div>
</div>