<div class="row">
	<div class="span12">
		<div class="jumbotron text-center">
			<h1>Bussiness plán je jádro vašeho podnikání!</h1>
			<p class="lead">Byzplan je jednoduchá online aplikace pro tvorbu krátkého business plánu. V pár krocích zvládnete rychle a přehledně napsat business plán bez dalšího zbytečného hledání na internetu.</p>
			<%= link_to "Vytvořit Váš vlastní business plán", new_plan_path, class: "btn btn-large btn-success" %>
		</div>
	</div>
	<div class="span6">
		<h4>Práce s Byzpalanem je jednoduchá</h4>
		<p>Díky Byzplanu sepíšete podnikatelský záměr během chvíle. Tvorba stručného plánu je rozdělena do šesti sekcí s popisem, co by měli obsahovat. Plán jde navíc v jakékoliv sekci uložit a Vy tak můžete práci pozastavit a vrátit se kdykoliv se Vám to bude hodit.</p>
	</div>
	<div class="span6">
		<h4>Sdílejte svůj podnikatelský záměr</h4>
		<p>Každý plán tvořený přes Byzplan má svoji unikátní internetovou adresu, přes kterou je přístupný a editovatelný. Není tedy nic jednoduššího, než adresu předat Vašim spolupracovníkům. Podnikatelský záměr pak můžete sepisovat spolu odkudkoli na světě.</p>
	</div>
	<div class="span6">
		<h4>Exportujte do PDF</h4>
		<p>V jakékoliv fázi psaní je možné plán okamžitě vyexportovat do formátu PDF. Už se nemusíte zabývat se složitým stylováním v textovém editoru a exportovat do PDF manuálně s pochybnými výsledky. Byzplan to udělá za Vás. Během chvíle tak máte profesionální dokument, který můžete předat investorovi nebo komukoliv jinému.</p>
	</div>
	<div class="span6">
		<h4>A navíc...</h4>
		<ul>
			<li>Byzplan je <b> kompletně zdarma</b></li>
			<li>K použití Byzplanu se nemusíte registrovat</li>
			<li>Nemusíte se registrovat</li>
		</ul>
	</div>
</div>