<div id="contacts">
	<h4>Plán sestavil:</h4>
	<p>Přemysl Donát</p>
	<p>Imagine Anything s.r.o.</p>
	<p>Tel.: 721 242 649, e-mail: donat@copyhat.cz</p>
	<br>
	<p>Sestaveno: <%= czech_date %></p>
</div>