<h3 class="h3-border">Zákazníci:</h3>
<p>
	<%= form_for @plan, url: plan_path(@plan.plan_id) do |f| %>
			<%= f.text_area :customers, value: "#{@plan.customers}", class: "tinymce span9", id: "customers", rows: 15 %>
			<%= tinymce %>
			<%= f.submit "Uložit sekci", class: "btn btn-primary" %>
	<% end %>
</p>

<h5>Co by měl text obsahovat:</h5>
<p>
	Abyste mohli úspěšně podnikat, je dobré znát detailně Vašeho zákazníka. Zkuste popsat, jaký Váš typický zákazník je, jak se chová, jaké má zvyklosti, co má a nemá rád atd. Můžete také ilustrovat, proč jste kvůli popsanému zákazníkovi navrhli takový a takový business model nebo produkt.
</p>