<div class="page-wrapper">
	<div class="section">
			<h2>III. Obchodní model</h2>
			<div class="section-content">
				<%= raw @plan.delivery %>
			</div>
	</div>

	<%= render 'pdf_footer' %>
</div>
<div class="page-break"></div>