<h3 class="h3-border">Obchodní model:</h3>

<%= form_for @plan, url: plan_path(@plan.plan_id) do |f| %>
	<%= f.text_area :delivery, value: "#{@plan.delivery}", class: "tinymce span9", id: "delivery", rows: 15 %>
	<%= tinymce %>
	<%= f.submit "Uložit sekci", class: "btn btn-margin btn-primary" %>
<% end %>


<h4>Obsah sekce:</h4>
<p>
	Obchodní model je jedna z nejdůležitějších částí business plánu. Popisuje, jakým způsobem budete prodávat svůj produkt zákazníkovi. Budete provozovat kamenou prodejnu nebo e-shop? Jakou formu propagace značky/produktu zvolíte? Na co budete ve Vašem businessu klást největší důraz? Jaké jsou konkurenčí výhody Vašeho Business modelu? Čím detailněji budete mít svoji strategii promyšlenou a popsanou, tím lépe.
</p>
	<h4>Čtenáři by měla sekce odpovědět na otázky:</h4>
	<ul>
		<li>Jakým způsobem a přes jaké prodejní kanálý budete produkt/službu zákazníkovi prodávat?</li>
		<li>Jak hodláte šířit povědomí o značce/produktu?</li>
		<li>Jaké má Váš business model konkurenční výhody oproti ostatním?</li>
	</ul>
	<h4>Čtenáře by také určitě zajímalo:</h4>
	<ul>
		<li>Zda máte nějaké zajímavé partnery</li>
		<li>Jaké jsou možnosti firemního růstu a plány do budoucna</li>
	</ul>