<div class="pdf-footer">
	<div class="upper-footer">
		<%= page_number %>/6
	</div>

	<div class="lower-footer">
		<span><%= @plan.name %>  |  Vytvořeno pomocí aplikace Byzplan.cz</span>
	</div>
</div>