<div class="page-wrapper">
	<div class="section">
			<h2>II. Popis produktu</h2>
			<div class="section-content">
				<%= raw @plan.product %>
			</div>
	</div>

	<%= render 'pdf_footer' %>
</div>
<div class="page-break"></div>