<div class="page-wrapper">

	<div class="section">
			<h2>I. Shrnutí projektu</h2>
			<div class="section-content">
				<%= raw @plan.summary %>
			</div>
	</div>

	<%= render 'pdf_footer' %>
</div>
<div class="page-break"></div>