<div class="page-wrapper">
	
	<div id="title-page-heading">
		<h1 class=""><%= raw @plan.name %></h1>
		<h3 class="">Business plan</h3>
	</div>

	<%= render 'contacts' %>
</div>

<div class="page-break"></div>
