<div class="page-wrapper">
	
	<div id="title-page-heading">
		<h1 class="">Test nadpis</h1>
		<h4 class="">Business plan</h4>
	</div>

	<%= render 'contacts' %>
</div>

<div class="page-break"></div>
