<div id="wysihtml5-toolbar" style="display: none;">
  <div class="btn-group">
  <a data-wysihtml5-command="bold" class="btn btn-mini">tučné</a>
  <a data-wysihtml5-command="italic" class="btn btn-mini">kurzíva</a>

  <!-- Some wysihtml5 commands like 'createLink' require extra paramaters specified by the user (eg. href) -->
  <a data-wysihtml5-command="createLink" class="btn btn-mini">vložit odkaz</a>
  </div>
  <div data-wysihtml5-dialog="createLink" style="display: none;">
    <label>
      Link:
      <input data-wysihtml5-dialog-field="href" value="http://" class="text">
    </label>
    <a data-wysihtml5-dialog-action="save">OK</a> <a data-wysihtml5-dialog-action="cancel">Cancel</a>
  </div>
</div>