<div id="wysihtml5-toolbar" style="display: none;">
  <div class="btn-group">
  <a data-wysihtml5-command="bold" class="btn btn-mini">tučné</a>
  <a data-wysihtml5-command="italic" class="btn btn-mini">kurzíva</a>
  </div>
</div>