<footer class="footer">
	<small>
		<a href="#">Byzplan</a>
		by Masa331
	</small>
	<nav>
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Make new plan", "#" %></li>
		</ul>
	</nav>
</footer>