<div class="navbar">
	<div class="navbar-inner">
		<a class="brand" href="/">Byzplan</a>
		<ul class="nav pull-right">
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Make a plan", new_plan_path %></li>
		</ul>
	</div>
</div>